{% load static %}

<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <meta name="description"
        content="ShortURL is a tool to shorten a long link and create a short URL easy to share on sites, chat and emails. Track short URL traffic and manage your links.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Asap:400,700|Lato:400,700,900|Source+Sans+Pro:400,700&display=swap">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="shortcut icon" href="favicon.ico">
    <meta property="og:title" content="ShortURL - URL Shortener">
    <meta property="og:url" content="https://www.shorturl.at/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.shorturl.at/img/shorturl-icon.png">
</head>

<body>
    {% include "header.html" %}
    <main>
        {% block content %}{% endblock content %}
    </main>
    {% include "footer.html" %}
    <script src="{% static "js/base.js" %}"></script>
</body>

</html>
