<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>URL Shortener</title>
    <meta name="description"
        content="ShortURL is a tool to shorten a long link and create a short URL easy to share on sites, chat and emails. Track short URL traffic and manage your links.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}
    <link rel="stylesheet" href="testapp/static/css/style.css"> {% endcomment %}
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Asap:400,700|Lato:400,700,900|Source+Sans+Pro:400,700&display=swap">
    <!-- css -->
    <link rel="shortcut icon" href="favicon.ico">
    <meta property="og:title" content="ShortURL - URL Shortener">
    <meta property="og:url" content="https://www.shorturl.at/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.shorturl.at/img/shorturl-icon.png">

    <script src="https://tags.refinery89.com/shorturlat.js" async
        type="e2788461726a5ebf6ccdbc63-text/javascript"></script>
</head>

<body>
    <!-- header -->
    <main>
        <!-- content -->
    </main>
    <!-- footer -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-25YH9BB08G"
        type="e2788461726a5ebf6ccdbc63-text/javascript"></script>
    <script type="e2788461726a5ebf6ccdbc63-text/javascript">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-25YH9BB08G');
    </script>
    <script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="e2788461726a5ebf6ccdbc63-|49" defer></script>
    <!-- script -->
</body>

</html>
