<footer>
    <div id="footerbox">
        <div>© 2023 ShortUrl - Raccourcisseur d'url</div>
        <nav id="footermenu">
            <ul>
                <li><a href="">Créer un compte</a></li>
                <li><a href="">Se Connecter</a></li>
                <li><a href="">Raccourcir l'url</a></li>
                <li><a href="">Générer un QR Code</a></li>
                <li><a href="">Terms of Service</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Contact</a></li>
            </ul>
    </div>
</footer>
