<header>
    <div class="header">
        <nav>
            {% comment %} <h2>Raccourcisseur <span>d'url</span></h2> {% endcomment %}
            <ul>
                <li><a href="">Créer un compte</a></li>
                <li><a href="">Se Connecter</a></li>
                <li><a href="">Raccourcir l'url</a></li>
                <li><a href="">Générer un QR Code</a></li>
            </ul>
        </nav>
    </div>
    <div id="logo"><a href="https://www.shorturl.at/" class="logo">Short URL</a></div>
</header>
