{% extends "base.html" %}


{% block content %}
<section id="urlbox">
    <h1>Paste the URL to be shortened</h1>
    {% if reason %}
    {{reason}}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div id="formurl">
            <input type="text" name="long_url" placeholder="Enter the link here">
            <div id="formbutton">
                <input type="submit" value="Shorten URL">
            </div>
        </div>
        {% for error in field.errors %}
					<span class="help-block red">{{ error }}</span>
					{% endfor %}
        {% endfor %}
    </form>
    <p class="boxtextcenter">
        {% if short_url %}
    {{short_url}}
    {% endif %}
    </p>
</section>
{% endblock content %}
