{% extends "base.html" %}


{% block content %}
<section id="urlbox">
    <h1>Paste the URL to be shortened</h1>
    <form action="shortener.php" method="post">
        <div id="formurl">
            <input type="text" name="u" placeholder="Enter the link here">
            <div id="formbutton">
                <input type="submit" value="Shorten URL">
            </div>
        </div>
    </form>
    <p class="boxtextcenter">ShortURL is a free tool to shorten URLs and generate short links<br>URL shortener
        allows to create a shortened link making it easy to share</p>
</section>
{% endblock content %}
